/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #2c2f33;
  color: #ffffff;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #23272a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #7289da;
  
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  
 
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  
}

nav a:hover {
  color: #7289da;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

/* Hero */
.hero {
  position: relative;
  color: white;
  text-align: center;
  padding: 100px 20px;
  overflow: hidden;
}

/* Couche assombrie avec l'image */
.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: url('/image/image\ aculle.jpg') center/cover no-repeat;
  filter: brightness(40%);
  z-index: 0;
}

/* Le texte reste au-dessus de l’image */
.hero h1,
.hero p,
.hero button {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #7289da;
}

.hero button {
  padding: 12px 24px;
  background-color: #7289da;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.3s;
}

.hero button:hover {
  background-color: #5b6eae;
}

/* Sections */
.section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.quality{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.skill {
  background-color: #40444b;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  transition: backgrou
}
.qualité{
  background-color: #40444b;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  transition: backgrou
}




.topnav #myLinks {
  display: none;
  background: image(☰);
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

.topnav a.icon {
  float: right;
  animation: normal;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  background-image: image(☰);
}



